
.titulo {
    color: rgb(40, 144, 121);
}

#img_intro {
    width: 350px;
    height: 350px;
    border-radius: 20%;
}

#amalfi {
    color: green;
    text-decoration: underline;
}

#napoli {
    color: blue;
    text-decoration: underline;
}

#torino {
    color: brown;
    text-decoration: underline;
}

#tabla {
    border-collapse: collapse;
    width: 50%;
}

#tabla th, #tabla td {
    border: 1px solid #100e0e;
    text-align: left;
}

#tabla th {
    background-color: #3498db;
    color: #fff;
}
